footer,.store-footer__inner{background-color:#17161c!important;color:white!important}
[dir=rtl] salla-slider[type]:not(.hydrated)>div,[dir=rtl] salla-slider[type]:not(.hydrated) .swiper>div>div,[dir=rtl] .carousel-slider .swiper{padding-left:0!important}
.py-4 ul{background-color:#F23D5E;padding:10px;border-radius:16px;justify-content:space-around!important}
iframe{width:100%;height:200px}
.sticky-product-bar{position:fixed;top:100%;width:100%;z-index:10;left:0;transform:translate(0,-100%)}
.store-footer h3{color:#f23d5e}
@media screen and (max-width:500px){#product-129006271{left:-50%}#product-323750460{left:-50%}}
.s-block__title{display:flex!important;justify-content:center!important}
.s-comments-product{display:flex;justify-content:center;align-items:center;flex-direction:column-reverse}
.s-block--fixed-banner,.s-block--fixed-banner .container{padding:0!important;margin:0!important}
.s-comments,.s-block,body{background:white!important}
.s-offer-modal-product.swiper-slide{width:41%!important;margin:5px}
.fox_s salla-product-card{position:relative;left:-59%!important;transform:translate(23%,0)}
[dir=rtl] .s-slider-block__title-right,[dir=rtl] .s-slider-block__title h2{padding-left:0!important}
.s-product-card-image-cover{object-fit:contain}
.allam-prodact{display:flex;justify-content:center;align-items:center}
.allam-prodact salla-product-card{width:264px}
.tim,.pa,.pa2{width:100%;display:flex;justify-content:space-around;flex-wrap:wrap;color:red;font-weight:700;font-size:20px!important}
.tim .te{width:100px;height:107px;border-radius:5px;color:red;font-size:25px;box-shadow:0 0 10px #00000066;display:flex;justify-content:space-around;align-items:center;flex-direction:column;font-weight:700;font-size:20px!important}
.pa2 h1{margin:10px;font-weight:700;font-size:20px!important}
.inventory-content>#variant-inventory i:after{position:absolute;content:"";width:100%;height:100%;background:#108043;display:inline-block;border-radius:50%;opacity:.25;top:0;left:0;transform:scale(1);animation-name:scale;animation-duration:1.5s;animation-timing-function:ease-out;animation-iteration-count:infinite}
@keyframes scale{0%{opacity:.5;transform:scale(.8)}to{opacity:0;transform:scale(1.8)}}
